<!DOCTYPE html>
<html>

<head>
    <%- include("common/head.ejs") %>
        <title>Document</title>
</head>

<body>
    <%- include("common/navbar.ejs") %>

        <div class="container-sm">
            <div class="d-flex">
                <div id="sidebar-profile" class="col-lg-2">
                    <button id="profile-button" class="w-100 my-button button-active">پروفایل شما</button>
                    <button id="post-button" class="w-100 my-button ">مقالات</button>

                        <button id="manageUser-button" class="w-100 my-button">مدیریت کاربران</button>

                            <button id="favorite-button" class="w-100 my-button">مطالب مورد علاقه</button>
                            <form action="/auth/logOut" method="get">
                                <button id="logOut-button" type="submit" class="my-button w-100">خروج</button>
                            </form>
                </div>
                <div id="content-profile" class="col-lg-10">
                    <div id="profile-content" class="w-100 p-3 content-profile hide-content-profile">
                        <form action="/auth/update" method="post">
                            
                            <div id="image-update">
                                <img src="/images/prof.jpg" alt="" class="w-100">
                                <button class="change-image"> <i class="fa fa-camera"></i> </button>
                            </div><br>
                           
                           <label for="fristname-update">نام:</label>
                           <input id="fristname-update" type="text" value="<%= result.fristname %> " class="w-25 p-1" name="fristname"><br>
                          
                           <label for="lastname-update"> نام خانوادگی:</label>
                           <input id="lastname-update" type="text" value="<%= result.lastname %> " class="w-25 p-1" name="lastname"><br>
                          
                           <label for="username-update">نام کاربری :</label>
                           <input id="username-update" type="text" value="<%= result.username %> " class="w-25 p-1" name="username"><br>
                         
                           <label for="email-update">ایمیل:</label>
                           <input id="email-update" type="text" value="<%= result.email %> " class="w-25 p-1" name="email"><br>
                         
                           <label for="callnumber-update">شماره تلفن:</label>
                           <input id="callnumber-update" type="text" value="<%= result.callnumber %> " class="w-25 p-1" name="callnumber"><br>
                          
                           <label for=""></label>
                           <button type="submit" class="my-button3 w-25">بروزرسانی</button><br>
                            <label for=""></label>
                           <a href="/auth/delete-account" class="w-25 my-button">حذف حساب کاربری</a>
                        </form>
                    </div>
                    <div id="post-content" class="w-100 p-3 content-profile hide-content-profile">
                      <form action="/post/add" method="post">
                          <input type="text" name="title" class="mb-3"><br>
                          <textarea name="intro" id="" cols="30" rows="10"></textarea><br>
                          <button type="submit"> ارسال</button>
                      </form>
                    </div>
                    <div id="manageUser-content" class="w-100 p-3 content-profile hide-content-profile">
                       <table id="user-table" class="w-100">
                           <thead>
                               <th>نام و نام خانوادگی</th>
                               <th>نام کاربری</th>
                               <th>ایمیل</th>
                               <th>نقش</th>
                               <th>عملیات</th>
                           </thead>

                           <% for( let index = 0; index < resultUser.length; index++ ) { %>
                              
                                    <tr>
                                        <td><%= resultUser[index].fristname %>  <%= resultUser[index].lastname %> </td>
                                        <td><%= resultUser[index].username %> </td>
                                        <td><%= resultUser[index].email %> </td>
                                        <td><%= resultUser[index].role %> </td>
                                        <td>
                                            <% if ( resultUser[index].role === "blogger") { %> <a href="/auth/updateUser/<%= resultUser[index].username %>">ویرایش</a> / <a class="m-1" href="/auth/deletuser/<%= resultUser[index].username %> ">حذف</a>
                                <% } %>
                            </td>
                                    </tr>
                    
                           <% } %>

                       
                               
                       </table>
                    </div>
                    <div id="favorite-content" class="w-100 p-3 content-profile hide-content-profile">
                        متاسفانه بخش مطالب مورد علاقه در دسترس نیس!!!!!!!!!!
                    </div>
                </div>
                
            </div>
        </div>

        

        <%- include("common/footer.ejs") %>
            <%- include("common/script.ejs") %>
</body>

</html>

