<!DOCTYPE html>
<html>

<head>
    <%- include("common/head.ejs") %>
        <title>Document</title>
</head>

<body>
    <%- include("common/navbar.ejs") %>

        <div id="login">
            <div class="container-sm">
                <div class="d-flex justify-content-center align-items-center">
                    <div id="card-signup" class=" w-75 ">
                        <div class=" d-flex">
                            <form action="/auth/login" method="post" class="w-50 form-signup" id="form-login">
                                <h2  class="titr">ورود به پنل کاربری</h2>
                                <div class="w-75 input-form">
                                    <input type="text" class="w-100" name="username" placeholder="نام کاربری:">
                                </diV>
                                <div class="w-75 input-form">
                                    <input type="password" class="w-100 password-hide" name="password"
                                        placeholder=" مرز عبور:">
                                    <i class="fa fa-eye hide-pass" id="hide-pass"></i>
                                </div>
                                <button type="submit" class="my-button2 w-75">ورود</button><br>
                                <%= msg %> 

                            </form>
                            <form  action="/auth/register" method="post" class="w-50 form-signup" id="form-register">
                                <h2 class="titr">ثــبـت نـــام</h2>
                               
                                <div id="form-register" class="d-flex flex-wrap">
                                    
                                    <div class="input-form col-lg-6 p-2">
                                        <input id="register-name" class="w-100" type="text" placeholder="نام"
                                            name="fristname" >
                                    </div>
                                    <div class="input-form col-lg-6 p-2">
                                        <input id="register-lastname" class="w-100" type="text"
                                            placeholder="نام خانوادگی" name="lastname">
                                    </div>
                                    <div class="input-form col-lg-6 p-2">
                                        <input id="username" class="w-100" type="text" placeholder="نام کاربری"
                                            name="username">
                                    </div>
                                    <div class="input-form col-lg-6 p-2">
                                        <input id="register-password" class="w-100 m-2" type="password"
                                            placeholder="رمز عبور" name="password">
                                    </div>
                                    <div class="input-form col-lg-6 p-2">
                                        <input id="register-email" class="w-100 m-2" type="email" placeholder="ایمیل"
                                            name="email">
                                    </div>
                                    <div class="input-form col-lg-6 p-2">
                                        <input id="register-password2" class="w-100 m-2" type="password"
                                            placeholder="رمز عبور(مجدد)">
                                    </div>
                                    <div class="input-form col-lg-6 p-2">
                                        <input id="register-callnumber" class="w-100 m-2" type="tel"
                                            placeholder="تلفن همراه" name="callnumber">
                                    </div>
                                    <div class="input-form col-lg-6 p-2">
                                        <select class="w-100" name="sex" id="">
                                            <option value="male">مرد</option>
                                            <option value="female">زن</option>
                                        </select>
                                    </div>
                                    <div class="input-form col-lg-12">
                                        <button type="submit" class="my-button3 w-100" >ثبت نام</button>
                                        <span><%= status %> </span>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <%- include("common/footer.ejs") %>
            <%- include("common/script.ejs") %>
</body>

</html>